#content {
    display: grid;
    grid-template-columns: 1fr 75%;

    padding: 50px 300px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

#result {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#result>p>b {
    font-size: 24px;
}

input {
    font-size: large;
    padding: 4px;
}
button {
    margin-top: 30px;
    padding: 16px 32px;;
    font-size: large;
}