html {
    font-family: 'Asap', sans-serif;
    font-size: larger;
    background-color: #3B3B3B;
}

#content {
    background-color: white;
    padding: 6px 30px;
    margin: 55px 140px; 
    border-radius: 5px;
}

h2,
h1 {
    color: #707070;
}

input[type=number] {
    width: 50px;
    height: 50px;
    margin-right: 10px;

    font-size: x-large;
    font-family: 'Asap', sans-serif;

}

button {
    font-family: 'Asap', sans-serif;
    font-size: larger;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
}

button:hover {
    cursor: pointer;
}

.active-btn {
    background-color: #3B3B3B;
    color: white;
}

#img-src {
    width: 60px;
}

#op-2-box {
    width: 350px;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    /* Vertical Centre */
    align-items: center;

    /* Horizontal Centre */
    /* justify-content: center; */
}

.box {
    width: 125px;
    /* height: 500px; */
    /* border: 3px solid black; */

    outline: 2px solid red;
    
    background-color: lightskyblue;
}

#recipe-grid {
    display: grid;
    text-align: center;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */
}